{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block left %}
    <div class="cell">{% trans 'Register'%}</div>
    <div class="inner">
<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
</div>
<form class="form-horizontal"    method="post">{% csrf_token %}
    {% if form.email.errors %}
    <div class="alert alert-error alert-block">
{{ form.email.errors }}
    </div>
{% endif %}
    <div class="control-group {% if form.new_password2.errors %}error{% endif %}">
<label class="control-label" for="id_email">{% trans 'Email address:' %}</label>
        <div class="controls">
        {{ form.email }}       </div>
</div>
    <div class="form-actions"><input class="btn btn-middle btn-primary" type="submit" value="{% trans 'Reset my password' %}" />
</div>
</form>

{% endblock %}
