{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block left %}
    <div class="cell">{% trans 'Register'%}</div>
    <div class="inner">
        {% if form.non_field_errors %}
            <div class="alert alert-error alert-block">{{ form.non_field_errors }}</div>
        {% endif %}
        <form class="form-horizontal"  action="{% url 'password_change' %}" method="post">
            {% csrf_token %}

            <div class="control-group {% if form.old_password.errors %}error{% endif %}">
                <label class="control-label" for="id_old_password">{% trans 'Old Password'%}</label>
                <div class="controls">
                    {{ form.old_password }}
                    <span class="help-inline">
                    {% if form.old_password.errors %}
                        {% for error in form.old_password.errors %}{{ error }} {% endfor %}
                    {% else %}
                        {{ form.old_password.help_text }}
                    {% endif %}
                    </span> </div>
            </div>


            <div class="control-group {% if form.new_password1.errors %}error{% endif %}">
                <label class="control-label" for="id_new_password1">{% trans 'Password'%}</label>
                <div class="controls">
                    {{ form.new_password1 }}
                    <span class="help-inline">
                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}{{ error }} {% endfor %}
                    {% else %}
                        {{ form.new_password1.help_text }}
                    {% endif %}
                    </span> </div>
            </div>
            <div class="control-group {% if form.new_password2.errors %}error{% endif %}">
                <label class="control-label" for="id_new_password2">{% trans 'Confirm Password'%}</label>
                <div class="controls">
                    {{ form.new_password2 }}
                    <span class="help-inline">
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}{{ error }} {% endfor %}
                    {% else %}
                        {{ form.new_password2.help_text }}
                    {% endif %}
                    </span> </div>
            </div>
            <div class="form-actions">
                <input class="btn btn-middle btn-primary" type="submit" value="{% trans 'Register'%}">
            </div>
        </form>
    </div>
{% endblock %}
