{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="cell">{% trans 'Register'%}</div>
    <div class="inner">
        {% if form.non_field_errors %}
            <div class="alert alert-error alert-block">{{ form.non_field_errors }}</div>
        {% endif %}
        <form class="form-horizontal"  action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <div class="control-group {% if form.email.errors %}error{% endif %}">
                <label class="control-label" for="id_email">{% trans 'Email'%}</label>
                <div class="controls">
                    {{ form.email }}
                    <span class="help-inline">
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}{{ error }} {% endfor %}
                    {% else %}
                        {{ form.email.help_text }}
                    {% endif %}
                    </span> </div>
            </div>
            <div class="control-group {% if form.username.errors %}error{% endif %}">
                <label class="control-label" for="id_username">{% trans 'Username'%}</label>
                <div class="controls">
                    {{ form.username }}

                    <span class="help-inline">
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}{{ error }} {% endfor %}
                    {% else %}
                        {{ form.username.help_text }}
                    {% endif %}
                    </span> </div>
            </div>

            <div class="control-group {% if form.password.errors %}error{% endif %}">
                <label class="control-label" for="id_password">{% trans 'Password'%}</label>
                <div class="controls">
                    {{ form.password }}
                    <span class="help-inline">
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}{{ error }} {% endfor %}
                    {% else %}
                        {{ form.password.help_text }}
                    {% endif %}
                    </span> </div>
            </div>
            <div class="control-group {% if form.confirm_password.errors %}error{% endif %}">
                <label class="control-label" for="id_confirm_password">{% trans 'Confirm Password'%}</label>
                <div class="controls">
                    {{ form.confirm_password }}
                    <span class="help-inline">
                    {% if form.confirm_password.errors %}
                        {% for error in form.confirm_password.errors %}{{ error }} {% endfor %}
                    {% else %}
                        {{ form.confirm_password.help_text }}
                    {% endif %}
                    </span> </div>
            </div>
            <div class="form-actions">
                <input class="btn btn-middle btn-primary" type="submit" value="{% trans 'Register'%}">
            </div>
        </form>
    </div>
{% endblock %}
